<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <display-name></display-name>	
  <servlet>
  	<servlet-name>LogLet</servlet-name>
  	<servlet-class>com.servlet.LogLet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>SaveArticle</servlet-name>
  	<servlet-class>com.servlet.SaveArticle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Gonglue_servlet</servlet-name>
  	<servlet-class>com.servlet.Gonglue_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertGonglue</servlet-name>
  	<servlet-class>com.servlet.InsertGonglue</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>Jingdian_servlet</servlet-name>
  	<servlet-class>com.servlet.Jingdian_servlet</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>Jiudian_servlet</servlet-name>
  	<servlet-class>com.servlet.Jiudian_servlet</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>Youji_servlet</servlet-name>
  	<servlet-class>com.servlet.Youji_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Meishi_servlet</servlet-name>
  	<servlet-class>com.servlet.Meishi_servlet</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>Gouwu_servlet</servlet-name>
  	<servlet-class>com.servlet.Gouwu_servlet</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>InsertJingdian</servlet-name>
  	<servlet-class>com.servlet.InsertJingdian</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>InsertGouwu</servlet-name>
  	<servlet-class>com.servlet.InsertGouwu</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>InsertYouji</servlet-name>
  	<servlet-class>com.servlet.InsertYouji</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>InsertMeishi</servlet-name>
  	<servlet-class>com.servlet.InsertMeishi</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>InsertJiudian</servlet-name>
  	<servlet-class>com.servlet.InsertJiudian</servlet-class>
  </servlet> 
    <servlet>
  	<servlet-name>Jsoup_request</servlet-name>
  	<servlet-class>com.servlet.Jsoup_request</servlet-class>
  </servlet> 
  <servlet>
  	<servlet-name>UserInfo</servlet-name>
  	<servlet-class>com.servlet.UserInfo</servlet-class>
  </servlet> 
  
  <servlet-mapping>
  	<servlet-name>LogLet</servlet-name>
  	<url-pattern>/LogLet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>SaveArticle</servlet-name>
  	<url-pattern>/SaveArticle</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  	<servlet-name>Gonglue_servlet</servlet-name>
  	<url-pattern>/Gonglue_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertGonglue</servlet-name>
  	<url-pattern>/InsertGonglue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Jingdian_servlet</servlet-name>
  	<url-pattern>/Jingdian_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Jiudian_servlet</servlet-name>
  	<url-pattern>/Jiudian_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Youji_servlet</servlet-name>
  	<url-pattern>/Youji_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Meishi_servlet</servlet-name>
  	<url-pattern>/Meishi_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Gouwu_servlet</servlet-name>
  	<url-pattern>/Gouwu_servlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>InsertGouwu</servlet-name>
  	<url-pattern>/InsertGouwu</url-pattern>
  </servlet-mapping> 
   <servlet-mapping>
  	<servlet-name>InsertJingdian</servlet-name>
  	<url-pattern>/InsertJingdian</url-pattern>
  </servlet-mapping> 
 <servlet-mapping>
  	<servlet-name>InsertYouji</servlet-name>
  	<url-pattern>/InsertYouji</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  	<servlet-name>InsertMeishi</servlet-name>
  	<url-pattern>/InsertMeishi</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  	<servlet-name>InsertJiudian</servlet-name>
  	<url-pattern>/InsertJiudian</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  	<servlet-name>Jsoup_request</servlet-name>
  	<url-pattern>/Jsoup_request</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>UserInfo</servlet-name>
  	<url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
